name: franklin-importer-cli - Test on branches
on:
  push:
    branches-ignore:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm install
      - run: npm run lint
